.main {
    border-left: 2px solid red;
    border-top: 2px solid blue;
    border-right: 2px solid yellow;
    border-bottom: 2px solid green;
    width: 70%;
}

.part {
    border: 1px dotted red;
    margin: 8px;
}

.part3 {
    margin-bottom: 50px;
}